name: Safe Node.js images

on:
  push:
    branches:
      - main
  schedule:
    - cron: "0 4 * * *"

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - name: "Node.js 22"
            dockerfile: "./nodejs/nodejs-22-slim.dockerfile"
            tags: |
              sheplu/safe-image:node-22
              sheplu/node:22-slim
            platforms: "linux/amd64,linux/arm64"
          - name: "Node.js 24"
            dockerfile: "./nodejs/nodejs-24-slim.dockerfile"
            tags: |
              sheplu/safe-image:node-24
              sheplu/node:24-slim
            platforms: "linux/amd64,linux/arm64"
          - name: "Node.js 25"
            dockerfile: "./nodejs/nodejs-25-slim.dockerfile"
            tags: |
              sheplu/safe-image:node-25
              sheplu/node:25-slim
            platforms: "linux/amd64,linux/arm64"
          - name: "Node.js LTS slim"
            dockerfile: "./nodejs/nodejs-lts-slim.dockerfile"
            tags: |
              sheplu/safe-image:node-lts-slim
              sheplu/node:lts-slim
            platforms: "linux/amd64,linux/arm64"
          - name: "Node.js Latest"
            dockerfile: "./nodejs/nodejs-latest-slim.dockerfile"
            tags: |
              sheplu/safe-image:node-latest
              sheplu/node:latest
            platforms: "linux/amd64,linux/arm64"
         
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Build and Push ${{ matrix.name }} Image
        uses: docker/build-push-action@v5
        with:
          file: ${{ matrix.dockerfile }}
          platforms: ${{ matrix.platforms }}
          tags: ${{ matrix.tags }}
          push: true
          context: .
