name: Safe Postgres images

on:
  schedule:
    - cron: "0 4 * * *"

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - name: "Postgres 16"
            dockerfile: "./postgres/postgres-16.dockerfile"
            tags: |
              sheplu/safe-image:postgres-16
              sheplu/postgres:16
            platforms: "linux/amd64,linux/arm64"
          - name: "Postgres 16 Alpine"
            dockerfile: "./postgres/postgres-16-alpine.dockerfile"
            tags: |
              sheplu/safe-image:postgres-16-alpine
              sheplu/postgres:16-alpine
            platforms: "linux/amd64,linux/arm64"
          
          - name: "Postgres 17"
            dockerfile: "./postgres/postgres-17.dockerfile"
            tags: |
              sheplu/safe-image:postgres-17
              sheplu/postgres:17
            platforms: "linux/amd64,linux/arm64"
          - name: "Postgres 17 Alpine"
            dockerfile: "./postgres/postgres-17-alpine.dockerfile"
            tags: |
              sheplu/safe-image:postgres-17-alpine
              sheplu/postgres:17-alpine
            platforms: "linux/amd64,linux/arm64"
          
          - name: "Postgres 18"
            dockerfile: "./postgres/postgres-18.dockerfile"
            tags: |
              sheplu/safe-image:postgres-18
              sheplu/postgres:18
            platforms: "linux/amd64,linux/arm64"
          - name: "Postgres 18 Alpine"
            dockerfile: "./postgres/postgres-18-alpine.dockerfile"
            tags: |
              sheplu/safe-image:postgres-18-alpine
              sheplu/postgres:18-alpine
            platforms: "linux/amd64,linux/arm64"
          
          - name: "Postgres Latest"
            dockerfile: "./postgres/postgres-latest.dockerfile"
            tags: |
              sheplu/safe-image:postgres-latest
              sheplu/postgres:latest
            platforms: "linux/amd64,linux/arm64"
          - name: "Postgres Alpine Latest"
            dockerfile: "./postgres/postgres-alpine.dockerfile"
            tags: |
              sheplu/safe-image:postgres-alpine
              sheplu/postgres:alpine
            platforms: "linux/amd64,linux/arm64"
         
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Build and Push ${{ matrix.name }} Image
        uses: docker/build-push-action@v6
        with:
          file: ${{ matrix.dockerfile }}
          platforms: ${{ matrix.platforms }}
          tags: ${{ matrix.tags }}
          push: true
          context: .
