name: Safe Ubuntu images

on:
  schedule:
    - cron: "0 4 * * *"

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - name: "Ubuntu 22.04"
            dockerfile: "./ubuntu/ubuntu-22-04.dockerfile"
            tags: |
              sheplu/safe-image:ubuntu-22.04
              sheplu/ubuntu:22.04
            platforms: "linux/amd64,linux/arm64"
          - name: "Ubuntu 24.04"
            dockerfile: "./ubuntu/ubuntu-24-04.dockerfile"
            tags: |
              sheplu/safe-image:ubuntu-24.04
              sheplu/ubuntu:24.04
            platforms: "linux/amd64,linux/arm64"
          - name: "Ubuntu Latest"
            dockerfile: "./ubuntu/ubuntu-latest.dockerfile"
            tags: |
              sheplu/safe-image:ubuntu-latest
              sheplu/ubuntu:latest
            platforms: "linux/amd64,linux/arm64"
         
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Build and Push ${{ matrix.name }} Image
        uses: docker/build-push-action@v6
        with:
          file: ${{ matrix.dockerfile }}
          platforms: ${{ matrix.platforms }}
          tags: ${{ matrix.tags }}
          push: true
          context: .
